header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav {
  background-color: #fbf7e3;
  border-radius: 100px;
  padding: 30px;
  width: 90%;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
}
li {
  display: flex;
  align-items: center;
  background-color: #f3df85;
  border-radius: 100px;
  padding: 20px 30px 20px 30px;
  font-size: 1.5em;
}
#shop {
  font-weight: bold;
  font-size: 2em;
  height: 100px;
}
img {
  width: 80px;
  height: 80px;
  margin-right: 50px;
}
